<section>
  <a href="/user/word/show">&larr; 뒤로</a>
  <div class="word-title">
    <h2><%= locals.title %></h2>
  </div>

  <section>
    <p><%= data.word %></p>
    <p><%= data.pronunciation %></p>
    <p><%= data.meanings %></p>
  </section>
</section>