<section>
  <ul class="admin-words">
    <% data.forEach(word => { %>
      <li>
        <a href="/user/word/show/<%= word._id %>">
          <%= word.word %>
        </a>
      </li>
    <% }) %>
  </ul>
</section>

<script>
  document.querySelectorAll('ul.admin-words li').forEach(li => {
    li.addEventListener('click', function () {
      const link = this.querySelector('a');
      if (link) {
        window.location.href = link.href;
      }
    });
  });
</script>
