<div class="form-container">
  <h2 class="form-title">단어장 회원가입</h2>
  <form action="/user/register" method="POST" class="form">
    <div class="form-group">
      <label for="userID" class="form-label"><b>아이디</b></label>
      <input type="text" name="userID" id="userID" class="form-input">
    </div>

    <div class="form-group">
      <label for="username" class="form-label">이름</label>
      <input type="text" name="username" id="username" class="form-input">
    </div>

    <div class="form-group">
      <label for="password" class="form-label">비밀번호</label>
      <input type="password" name="password" id="password" class="form-input">
    </div>

    <input type="submit" value="회원가입" class="btn btn-submit">
  </form>
</div>
